<!DOCTYPE html>
<html>

<head>
    <!--Important link from https://bootsnipp.com/snippets/XqvZr-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
</head>

<div class='mt-4 container p-3 my-3'>
    {{#each accounts}}
        <div class="mt-4 row bg-muted">
	        	<div class="col-lg-3">
                <img
                  class='card-img-top'
                  src='{{this.ImageURL}}'
                  alt='{{this.Name}}'
                />
                
                <div style="text-align: center;" class="product-count">
	        				<button href="#" type="submit"class="round-black-btn">Đặt Lịch Hẹn</button>
	        			</div>
	        	</div>
	        	<div class="col-md-9">
	        		<div class="product-dtl">
        				<div class="product-info">
		        			<div class="product-name">Bác Sĩ: {{this.Name}}</div>
		        		</div>
                <div class="product-price-discount"><span><b>Chuyên Khoa:</b> {{this.Department}}</span></div>
                <div class="product-price-discount"><span><b>Chứng Nhận:</b> {{this.Practicing_certificate}}</span></div>
	        			 <div class="product-price-discount"><span><b>Mô Tả:</b> {{this.Description}}</span></div>
                <div class="product-count">
	        				<h6>Lịch Làm Việc:
	        				{{!-- <form action="#" class="display-flex">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          7h00-11h00
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
                        <label class="form-check-label" for="defaultCheck2">
                          13h00-17h00
                        </label>
                      </div>
                  </form> --}}
                  
                  </h6>
	        			</div>
		        		<div class="product-price-discount"><span>Giá Khám Bệnh: <b>300.000</b> VNĐ</span></div>
	        		</div>
	        	</div>
	        </div>  
    {{/each}}
</div>