<div class="container h1 mt-3">
  <h1>Chỉnh Sửa Thông Tin Bác Sĩ</h1>
  <hr>
</div>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="{{profileDoctor.ImageURL}}" class="avatar img-circle img-thumbnail" alt="avatar">
        {{!-- <h6>Upload a different photo...</h6>
        <input type="file" class="form-control"> --}}
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <form method="POST" class="form-horizontal" action="/profile/editInformation">
        {{#if profileDoctor}}
        <div>
          {{!-- <input type="hidden" name="ImageURL" class="form-control" value={{this.ImageURL}}> --}}
          <input type="hidden" name="Id" class="form-control" value={{profileDoctor.Id}}>
          <input type="hidden" class="col-lg-3 control-label" name="Email" style="margin-top: 5px;" id="" cols="80"
            rows="1" value={{profileDoctor.Email}}>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"><b>Link Ảnh Đại Diện</b></label>
          <div>
            <input class="form-control" name="ImageURL" type="text" placeholder="{{profileDoctor.Name}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"><b>Họ và Tên</b></label>
          <div>
            <input class="form-control" name="Name" type="text" placeholder="{{profileDoctor.Name}}">
          </div>
        </div>
        <div class='form-group'>
          <label class="col-lg-3 control-label"><b>Tuổi</b></label>
          <div>
            <input class="form-control" name="Age" type="text" placeholder="{{profileDoctor.Age}}">
          </div>
        </div>
        <div class="form-group mb-2">
          <label class="col-lg-3 control-label"><b>Giới Tính</b></label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Sex" id="gridRadios1" value="Nam" checked>
              <label class="form-check-label" for="inlineRadio1">Nam</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Sex" id="gridRadios2" value="Nữ">
              <label class="form-check-label" for="inlineRadio2">Nữ</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Sex" id="gridRadios2" value="Khác">
              <label class="form-check-label" for="inlineRadio3">Khác</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"><b>Số Điện Thoại</b></label>
          <div>
            <input class="form-control" name="Phone" type="text" placeholder="{{profileDoctor.Phone}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"><b>Địa Chỉ</b></label>
          <div>
            <input class="form-control" name="Address" type="text" placeholder="{{profileDoctor.Address}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"><b>Chuyên Khoa</b></label>
          <div class='form-group'>
            <select name='Department' class='form-control' id='Department-input'>
              <option value='Xương Khớp'>Xương Khớp</option>
              <option value='Tiêu Hoá'>Tiêu Hoá</option>
              <option value='Da Liễu'>Da Liễu</option>
              <option value='Thần Kinh'>Thần Kinh</option>
              <option value='Nhi Khoa'>Nhi Khoa</option>
              <option value='Nha Khoa'>Nha Khoa</option>
              <option value='Nội Tiết'>Nội Tiết</option>
              <option value='Tai Mũi Họng'>Tai Mũi Họng</option>
              <option value='Tư Vấn Covid'>Tư Vấn Covid</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label"><b>Mô Tả</b></label>
          <div>
            <textarea class="form-control" name="Description" type="textarea"
              placeholder="{{profileDoctor.Description}}"></textarea>
          </div>
        </div>
        {{/if}}
        <button type="submit" style="width:100px" class="btn btn-success">Lưu</button>
      </form>
    </div>
  </div>
</div>
<hr>