<div class='mt-4 container'>
  <H3>Cập Nhật Thông Tin</H3>
{{#if accountPatient}}
  <form method='POST' action='/accounts/{{accountPatient._id}}?_method=PUT'>
    <div class='form-group'>
      <label for='name'>Id User</label>
      <input
      readonly="true"
        type='text'
        class='form-control'
        value='{{accountPatient.Id}}'
        id='Id'
        name='Id'
      />
    </div>
    <div class='form-group'>
      <label for='description'>Email</label>
      <textarea
        readonly="true"
        class='form-control'
        id='Email'
        name='Email'
      >{{accountPatient.Email}}</textarea>
    </div>
    <div>
     <label for='RoleName'>Role Name</label></br>
      <select class="form-select" aria-label="Default select example" name="RoleName">
        <option selected>{{accountPatient.RoleName}}</option>
          <option value="doctor">Doctor</option>
          
      </select>
    </div>
      </br>
      
    <button type='submit' class='btn btn-primary'>Lưu Lại</button>
      <a class="btn btn-success" style="width:100px" href="/me/stored/accounts">
        Quay Lại
      </a>
  </form>
  {{else}}
  <form method='POST' action='/accounts/{{accountDoctor._id}}?_method=PUT'>
    <div class='form-group'>
      <label for='name'>Id User</label>
      <input
      readonly="true"
        type='text'
        class='form-control'
        value='{{accountDoctor.Id}}'
        id='Id'
        name='Id'
      />
    </div>
    <div class='form-group'>
      <label for='description'>Email</label>
      <textarea
        readonly="true"
        class='form-control'
        id='Email'
        name='Email'
      >{{accountDoctor.Email}}</textarea>
    </div>
    <div>
     <label for='RoleName'>Role Name</label></br>
      <select class="form-select" aria-label="Default select example" name="RoleName">
        <option selected>{{accountDoctor.RoleName}}</option>
          <option value="doctor">doctor</option>
      </select>
    </div>
      </br>   
    <button type='submit' class='btn btn-primary'>Lưu Lại</button>
      <a class="btn btn-success" style="width:100px" href="/me/stored/accounts">
        Quay Lại
      </a>
  </form>
  {{/if}}
</div>