<div class='mt-4 container'>
  {{#each blogs}}
  <div class='row row-cols-2 mt-3'>
    <div class="col-4">
      <a href='/blog/{{this._id}}'>
        <img class='card-img-top' src='{{this.ImageURL}}' alt='{{this._id}}' />
      </a>
    </div>
    <div class="col-8">
      <a href='/blog/{{this._id}}'>
        <h4>{{this.title}}</h4>
      </a>
      <h6>{{this.description}}</h6>
    </div>
  </div>
  {{/each}}
</div>