<div class='mt-4 container'>
  <div class='row'>
    {{#each blogs}}
    <div class='col-sm-6 col-lg-4'>
      <div class='card-body'>
        <a href='/blog/{{this._id}}'>
          <img class='card-img-top' src='{{this.ImageURL}}' alt='{{this._id}}' />
          <h4>{{this.title}}</h4>
        </a>
        <a href='/blog/{{this._id}}' class='btn btn-primary'>Xem thông
          tin</a>
        <a href='/blog/edit/{{this._id}}' class='btn btn-success'>Edit</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>