
    <div style="text-align: center;">
        <h1>LỊCH LÀM VIỆC</h1>
    </div>
    <table class="table table-bordered" style="border: 5px; margin:5px; width:fit-content">
        {{#if schedule}}
                <thead>
                    <tr>
                    <th scope="col">Time</th>
                    {{#each schedule}}
                    <th scope="col" style="text-align: center;">{{this.date}}</th>
                     {{/each}}
                    </tr>
                </thead>
                <tbody>
                    <tr>    
                            <td scope="row">7h00-8h00</td>
                            {{#each schedule}}
                                {{#if this.time1}}
                                        <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                    {{else}}
                                        <th scope="row"></th>
                                    {{/if}}
                             {{/each}}   
                    </tr>
                    <tr>
                            <td scope="row">8h00-9h00</td>
                            {{#each schedule}}
                                {{#if this.time2}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                    {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}  
                    </tr>
                    <tr>
                            <td scope="row">9h00-10h00</td>
                            {{#each schedule}}
                                {{#if this.time3}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">10h00-11h00</td>
                             {{#each schedule}}
                                {{#if this.time4}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">13h00-14h00</td>
                             {{#each schedule}}
                                {{#if this.time5}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">14h00-15h00</td>
                             {{#each schedule}}
                                {{#if this.time6}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">15h00-16h00</td>
                             {{#each schedule}}
                                {{#if this.time7}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">16h00-17h00</td>
                             {{#each schedule}}
                                {{#if this.time8}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">18h00-19h00</td>
                             {{#each schedule}}
                                {{#if this.time9}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">19h00-20h00</td>
                             {{#each schedule}}
                                {{#if this.time10}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">20h00-21h00</td>
                             {{#each schedule}}
                                {{#if this.time11}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                    <tr>
                            <td scope="row">21h00-22h00</td>
                             {{#each schedule}}
                                {{#if this.time12}}
                                    <th scope="row" style="background-color: rgb(241, 220, 100);"></th>
                                {{else}}
                                    <th scope="row"></th>
                                {{/if}}
                            {{/each}}
                    </tr>
                </tbody>
                
              
            {{else}}
                <h2>Bạn Chưa Đăng Ký Lịch!!!</h2>
    {{/if}}
    </table>
 