<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div style="text-align: center;">
    <h1>Lịch Làm Việc</h1>
</div>
<table class="table table-bordered border-primary rounded">
    {{#if schedule}}
    <thead>
        <tr>
            <th class="col-md-1" scope="col" style="">Time</th>
            {{#each schedule}}
            <th scope="col" style="text-align: center;">{{this.date}}</th>
            {{/each}}
        </tr>
    </thead>
   <tbody>
        <tr>
            <td scope="row">7h00-7h30</td>
            {{#each schedule}}
            {{#if_eq this.time1 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time1 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">7h30-8h00</td>
            {{#each schedule}}
            {{#if_eq this.time2 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time2 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}

            {{/each}}
        </tr>
        <tr>
            <td scope="row">8h00-8h30</td>
            {{#each schedule}}
            {{#if_eq this.time3 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time3 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">8h30-9h00</td>
            {{#each schedule}}
            {{#if_eq this.time4 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time4 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">9h00-9h30</td>
            {{#each schedule}}
            {{#if_eq this.time5 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time5 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">9h30-10h00</td>
            {{#each schedule}}
            {{#if_eq this.time6 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time6 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">10h00-10h30</td>
            {{#each schedule}}
            {{#if_eq this.time7 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time7 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">10h30-11h00</td>
            {{#each schedule}}
            {{#if_eq this.time8 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time8 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">13h00-13h30</td>
            {{#each schedule}}
            {{#if_eq this.time9 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time9 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">13h30-14h00</td>
            {{#each schedule}}
            {{#if_eq this.time10 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time10 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">14h00-14h30</td>
            {{#each schedule}}
            {{#if_eq this.time11 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time11 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">14h30-15h00</td>
            {{#each schedule}}
            {{#if_eq this.time12 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time12 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">15h00-15h30</td>
            {{#each schedule}}
            {{#if_eq this.time13 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time13 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">15h30-16h00</td>
            {{#each schedule}}
            {{#if_eq this.time14 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time14 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">16h00-16h30</td>
            {{#each schedule}}
            {{#if_eq this.time15 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time15 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">16h30-17h00</td>
            {{#each schedule}}
            {{#if_eq this.time16 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time16 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">18h00-18h30</td>
            {{#each schedule}}
            {{#if_eq this.time17 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time17 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">18h30-19h00</td>
            {{#each schedule}}
            {{#if_eq this.time18 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time18 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">19h00-19h30</td>
            {{#each schedule}}
            {{#if_eq this.time19 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time19 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">19h30-20h00</td>
            {{#each schedule}}
            {{#if_eq this.time20 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time20 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">20h00-20h30</td>
            {{#each schedule}}
            {{#if_eq this.time21 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time21 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">20h30-21h00</td>
            {{#each schedule}}
            {{#if_eq this.time22 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time22 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">21h00-21h30</td>
            {{#each schedule}}
            {{#if_eq this.time23 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time23 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
        <tr>
            <td scope="row">21h30-22h00</td>
            {{#each schedule}}
            {{#if_eq this.time24 true}}
            <th scope="row" style="background-color: rgb(255, 178, 143)"></th>
            {{else}}
            {{#if_eq this.time24 false}}
            <th scope="row" style="background-color: rgb(114, 253, 172)"></th>
            {{else}}
            <th scope="row"></th>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </tr>
    </tbody>
    {{else}}
    <h2>Bạn Chưa Đăng Ký Lịch!!!</h2>
    {{/if}}
</table>
{{#if schedule}}
<h4>Chú Thích</h4>
<div class="d-flex">
    <label>Lịch trống: </label>
    <button style="background-color: rgb(248, 247, 246); width: 100px; margin-right:10px"></button>
    <label >Có cuộc hẹn: </label>
    <button style="background-color: rgb(114, 253, 172); width: 100px; margin-right:10px"></button>
    <label>Lịch làm việc: </label>
    <button style="background-color: rgb(255, 178, 143); width: 100px; margin-right:10px"></button>
</div>

{{/if}}