<div class="container-create-medical-record" style="width: 100%;">
    {{#each patient}}
        <div class="left-medical-record-create-form ">
            <h3 style="text-align: center;">HỒ SƠ BỆNH ÁN</h3>
    
            <form method="POST" action="/medicalRecord/storeMedicalRecord">
                <label for="namePatient">Họ và tên bệnh nhân: {{this.Name}}</label></br>

                <input type="text" class="form-control" id="exampleInputEmail1" name="patientId" value="{{this.Id}}" hidden>
                <input type="text" class="form-control" id="exampleInputEmail1" name="namePatient" value="{{this.Name}}"hidden>
                <label for="namePatient">Email: {{this.Email}}</label></br>
                <input type="text" class="form-control" id="exampleInputEmail1" name="Email" value="{{this.Email}}" hidden>
                <label for="bithDay">Tuổi: {{this.Age}}</label></br>
                <input type="text" class="form-control" id="exampleInputEmail1" name="age" value="{{this.Age}}" hidden>
                <label for="address">Địa chỉ: {{this.Address}}</label></br>
                <input type="text" class="form-control" id="exampleInputEmail1" name="address" value="{{this.Address}}" hidden>
                <label for="phone">Số điện thoại: {{this.Phone}}</label></br>
                <input type="text" class="form-control" id="exampleInputEmail1" name="phone" value="{{this.Phone}}" hidden>
                

                <label for="symptom">Triệu Chứng</label>
                <textarea name="symptom"class="form-control" id="exampleFormControlTextarea1" name="symptom" rows="4"></textarea>

                <label for="diagnose">Chuẩn đoán</label>
                <textarea name="diagnose"class="form-control" id="exampleFormControlTextarea1" name="diagnose" rows="4"></textarea>

                <label for="prescription">Đơn thuốc</label>
                <textarea name="prescription"class="form-control" id="exampleFormControlTextarea1" name="prescription" rows="3"></textarea>

                <label for="note">Ghi Chú</label>
                <textarea name="note"class="form-control" id="exampleFormControlTextarea1" name="note" rows="2"></textarea>
                    </div>
            
                    <button  type="submit" class="btn btn-primary" style="margin: 10px 10px 100px 300px; " >Tạo hồ sơ</button>
            </form>
        </div>
                <div class="right-medical-record-create-form ml-4">
                    <h1>Lịch sử khám bệnh</h1>
                    {{#each this.medical_record}}
                            <div class="dropdown" >
                            <button class="btn btn-secondary dropdown-toggle" style="margin-top: 10px; width:500px; background-color:#28a745" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="date" value="{{this.date}}">
                                {{this.date}}
                                </button>
                                <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                                    <div class="form-check ml-3">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Triệu Chứng:{{this.symptom}}
                                        </label>
                                    </div>
                                    <div class="form-check ml-3">
                                        
                                        <label class="form-check-label" for="defaultCheck1">
                                            Chuẩn Đoán:{{this.diagnose}}
                                        </label>
                                    </div>
                                    <div class="form-check ml-3">
                                      
                                        <label class="form-check-label" for="defaultCheck1">
                                            Đơn Thuốc:{{this.prescription}}
                                        </label>
                                    </div>
                                    <div class="form-check ml-3">
                                        
                                        <label class="form-check-label" for="defaultCheck1">
                                            Lưu ý:{{this.note}}
                                        </label>
                                    </div>
                                </div>
                            </div>
        {{!-- <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Thời gian khám: {{medicalRecord.createdAt}}
        </a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">{{medicalRecord.symptom}}</a>
            <a class="dropdown-item" href="#">{{medicalRecord.diagnose}}</a>
            <a class="dropdown-item" href="#">{{medicalRecord.prescription}}</a>
        </div>
        </div> --}}
        {{else}}
            <h3>Bệnh nhân chưa có hồ sơ bệnh án</h3>
        {{/each}}
    {{/each}}
    </div>
</div>