<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container d-flex">
    {{#each patient}}
    <div class="flex-grow-1">
        <div class="container h1 mt-3">
            <h1>Tạo Hồ Sơ Bệnh Án</h1>
            <hr>
        </div>
        <form method="POST" action="/medicalRecord/storeMedicalRecord">
            <div class="profile-head">
                <input type="text" class="form-control" id="exampleInputEmail1" name="patientId" value="{{this.Id}}"
                    hidden>
                <div class="d-flex mt-1">
                    <h5 style=" width:220px ;" for="namePatient"><b>Họ và tên bệnh nhân: </b></h5>
                    <h5 class="text-primary">{{this.Name}}</h5>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="namePatient"
                        value="{{this.Name}}" hidden>
                </div>
                <div class="d-flex mt-1">
                    <h5 style=" width:220px ; " for="Email"><b>Email: </b></h5>
                    <h5 class="text-primary">{{this.Email}}</h5>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="Email" value="{{this.Email}}"
                        hidden>
                </div>
                <div class="d-flex mt-1">
                    <h5 style=" width:220px ; " for="bithDay"><b>Tuổi: </b></h5>
                    <h5 class="text-primary">{{this.Age}}</h5>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="age" value="{{this.Age}}"
                        hidden>
                </div>
                <div class="d-flex mt-1">
                    <h5 style=" width:220px ; " for="address"><b>Địa Chỉ: </b></h5>
                    <h5 class="text-primary">{{this.Address}}</h5>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="address"
                        value="{{this.Address}}" hidden>
                </div>
                <div class="d-flex mt-1">
                    <h5 style=" width:220px ; " for="phone"><b>Số Điện Thoại: </b></h5>
                    <h5 class="text-primary">{{this.Phone}}</h5>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="phone" value="{{this.Phone}}"
                        hidden>
                </div>
                <div class=" mt-1">
                    <h5 style=" width:220px ; " for="symptom"><b>Triệu Chứng: </b></h5>
                    <textarea name="symptom" class="form-control" id="exampleFormControlTextarea1" name="symptom"
                        rows="4"></textarea>
                </div>
                <div class=" mt-1">
                    <h5 style=" width:220px ; " for="diagnose"><b>Chuẩn Đoán: </b></h5>
                    <textarea name="diagnose" class="form-control" id="exampleFormControlTextarea1" name="diagnose"
                        rows="4"></textarea>
                </div>
                <div class=" mt-1">
                    <h5 style=" width:220px ; " for="prescription"><b>Đơn Thuốc: </b></h5>
                    {{!-- <textarea name="prescription" class="form-control" id="exampleFormControlTextarea1" name="diagnose"
                        rows="4"></textarea> --}}
                        <table id="myTable">
                                <tr>
                                    <td style="text-align:center ;"><h6>Tên thuốc</h6></td>
                                    <td style="text-align:center ;"><h6>Số lượng</h6></td>
                                    <td style="text-align:center ;"><h6>Đơn vị</h6></td>        
                                </tr>
                                <tr>
                                    
                                    <td><input type="text" style="width:400px" name="prescription" /></td>
                                    <td><input type="text" style="width:100px" name="prescription" /></td>
                                    <td><input type="text" style="width:300px" name="prescription" /></td>
                                    <td> <button class="btn btn-success m-2"  id="btn-addRow" type="button" onclick="myFunction1()">+</button></td>
                                </tr>
                               
                                </table>
                                <br>
                                
                </div>
                <div class=" mt-1">
                    <h5 style=" width:220px ; " for="note"><b>Lời Khuyên: </b></h5>
                    <textarea name="note" class="form-control" id="exampleFormControlTextarea1" name="diagnose"
                        rows="4"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 ">Tạo hồ sơ</button>
        </form>
    </div>
    <div class="mt-5">
        <h4 class="text-center"><b>Lịch sử khám bệnh</b></h4>
        <div class="dropdown">
            {{#each this.medical_record}}
            <div class="mt-3">
                <div class="btn-group" style="width: 300px;">
                    <button class="btn btn-success dropdown-toggle  text-left" type="button" data-toggle="dropdown"
                        aria-expanded="false" name="date" value="{{this.date}}" style="width:300px">
                        {{this.namePatient}} {{this.date}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 530px;">
                        <div class="form-check ml-3">
                            <label class="form-check-label" for="defaultCheck1">
                                <h5><b>Triệu Chứng:</b> {{this.symptom}}</h5>
                            </label>
                        </div>
                        <div class="form-check ml-3">
                            <label class="form-check-label" for="defaultCheck1">
                                <h5><b>Chuẩn Đoán:</b> {{this.diagnose}}</h5>
                           </label>
                        </div>
                        <div class="form-check ml-3">
                            <label class="form-check-label" for="defaultCheck1">
                                <h5><b>Đơn Thuốc:</b> {{this.prescription}}</h5>
                            </label>
                        </div>
                        <div class="form-check ml-3">
                            <label class="form-check-label" for="defaultCheck1">
                                <h5><b>Lời Khuyên:</b> {{this.note}}</h5>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
           <h3 style="text-align: center;">Bệnh nhân chưa có hồ sơ bệnh án</h3>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
<script>
  function myFunction1() {
  var table = document.getElementById("myTable");
  var i= table.lastRow
  var row = table.insertRow(i);
  var cell1 = row.insertCell(i);
  var cell2 = row.insertCell(i+1);
  var cell3 = row.insertCell(i+2);
  var data ="<input type='text' name='prescription'/>";
   var data1 ="<input type='text' style='width:400px' name='prescription' />"
   var data2 ="<input type='text' style='width:100px' name='prescription' />"
   var data3 ="<input type='text' style='width:300px' name='prescription' />"
  cell1.innerHTML = data3;
  cell2.innerHTML = data2;
  cell3.innerHTML = data1;
}
</script>