{{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class='mt-4 container justify-content-center' >
  <div class='container h1 mt-3'>
    <h1>Hồ Sơ Bệnh Án</h1>
  </div>
  <div class="mb-2">
    <a href='/me/stored/medical-record'>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-backspace-fill"
        viewBox="0 0 16 16">
        <path
          d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
      </svg>
      QUAY LẠI</a>
  </div>
  <table class="table">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody class="profile-head">
    <tr>
      <th scope="row" style="width: 250px;"><h5>Họ tên bệnh Nhân:</h5></th>
      <td scope="row" ><h6>{{medicalrecords.namePatient}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>User ID:</h5></th>
      <td scope="row"><h6>{{medicalrecords.Patient_Id}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>Địa Chỉ:</h5></th>
      <td scope="row"><h6>{{medicalrecords.address}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>Số Điện Thoại:</h5></th>
      <td scope="row"><h6>{{medicalrecords.phone}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>Triệu Chứng:</h5></th>
      <td scope="row"><h6>{{medicalrecords.symptom}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>Chuẩn Đoán Bệnh:</h5></th>
      <td scope="row"><h6>{{medicalrecords.diagnose}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>Đơn Thuốc:</h5></th>
      <td scope="row"><h6>{{medicalrecords.prescription}}</h6></dt>
    </tr>
    <tr>
      <th scope="row"><h5>Ngày Tạo:</h5></th>
      <td scope="row"><h6>{{medicalrecords.date}}</h6></td>
    </tr>
    <tr>
      <th scope="row"><h5>Người Tạo:</h5></th>
      <td scope="row"><h6>{{medicalrecords.nameDoctor}}</h6></dt>
    </tr>

  </tbody>
</table>
</div> --}}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class='mt-4 container justify-content-center' >
  <div class='container h1 mt-3'>
    <h1>Hồ Sơ Bệnh Án</h1>
  </div>
  <div class="mb-2">
    <a href='/me/stored/medical-record'>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-backspace-fill"
        viewBox="0 0 16 16">
        <path
          d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
      </svg>
      QUAY LẠI</a>
  </div>
  <div>
      <div>
          <table class="table">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody class="profile-head">
             
                    <tr>
                      <th scope="row" style="width: 250px;"><h5>Họ tên bệnh Nhân:</h5></th>
                      <td scope="row" name="namePatient"><h6>{{medicalrecords.namePatient}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>User ID:</h5></th>
                      <td scope="row"><h6>{{medicalrecords.Patient_Id}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Địa Chỉ:</h5></th>
                      <td scope="row" name="address"><h6>{{medicalrecords.address}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Số Điện Thoại:</h5></th>
                      <td scope="row" name="phone"><h6>{{medicalrecords.phone}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Triệu Chứng:</h5></th>
                      <td scope="row" name="symptom"><h6>{{medicalrecords.symptom}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Chuẩn Đoán Bệnh:</h5></th>
                      <td scope="row" name="diagnose"><h6>{{medicalrecords.diagnose}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Đơn Thuốc:</h5></th>
                      <td scope="row" name="prescription"><h6>{{medicalrecords.prescription}}</h6></dt>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Ngày Tạo:</h5></th>
                      <td scope="row" name="date"><h6>{{medicalrecords.date}}</h6></td>
                    </tr>
                    <tr>
                      <th scope="row"><h5>Người Tạo:</h5></th>
                      <td scope="row" name="nameDoctor"><h6>{{medicalrecords.nameDoctor}}</h6></dt>
                    </tr>
            </tbody>
          </table>
      </div>
    {{#if_eq lcAuthUser.Permission '1'}}  
        <form method="POST" action="/sendEmail/sendMedicalRecords">
              <input type="text" name="medicalRecord_id" value="{{medicalrecords._id}}"   hidden>
              <input type="text" name="namePatient" value="{{medicalrecords.namePatient}}"   hidden>
              <input type="text" name="patientId" value="{{medicalrecords.Patient_Id}}"   hidden>
              <input type="text" name="address"  value="{{medicalrecords.address}}" hidden>
              <input type="text" name="phone" value="{{medicalrecords.phone}}"  hidden>
              <input type="text" name="symptom"  value="{{medicalrecords.symptom}}" hidden>
              <input type="text" name="diagnose" value="{{medicalrecords.diagnose}}"   hidden>
              <input type="text" name="prescription" value="{{medicalrecords.prescription}}"    hidden>
              <input type="text" name="date"  value="{{medicalrecords.date}}"  hidden>
              <input type="text" name="nameDoctor" value="{{medicalrecords.nameDoctor}}"  hidden>
              <div>
                <button class="btn btn-success" type="submit">Gửi Hồ Sơ Bệnh Án Cho Bệnh Nhân</button>
              </div>
        </form>
    {{/if_eq}}
  </div>

</div>
