<nav class="navbar navbar-expand-lg  " id="navbar">
		<div class="container">
			<a class="navbar-brand" style="font-size:1.8rem;" href='/'>
				Online<span>Clinic.</span>
			</a>			
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			</button>
	
		  	<div class="collapse navbar-collapse text-center" id="navbarsExample09">
				<ul class="navbar-nav ml-auto">
					{{#if_eq lcAuthUser.Permission '1'}}
						<li class="nav-item active">
							<a class="nav-link" href='/'>Trang Chủ <span class="sr-only">(current)</span></a>
						</li>
						
						{{else}}
							<li class="nav-item active">
							<a class="nav-link" href='/'>Trang Chủ <span class="sr-only">(current)</span></a>
						</li>
						<li class='nav-item'>
							<a class='nav-link' href='/accounts/'>Bác Sĩ</a>
						</li>
					{{/if_eq}}
			   	<li class='nav-item dropdown'>
					{{#if lcIsAuthenticated}}
						<a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
							<img src={{lcAuthUser.ImageURL}} alt='' class='user-avatar' />
							{{lcAuthUser.Name}}
						</a>
								
								<div class='dropdown-menu' aria-labelledby='navbarDropdown'>
									{{#if_eq lcAuthUser.Permission '0'}}
									<a class='dropdown-item' href='/profile/{{lcAuthUser.Id}}'>Trang Cá Nhân</a> <div class='dropdown-divider'></div>
									{{!-- <a class='dropdown-item' href='/accounts/create'>Thêm Bác Sĩ</a> <div class='dropdown-divider'></div> --}}
									<a class='dropdown-item' href='/me/appointment'>Quản Lý Cuộc Hẹn</a> <div class='dropdown-divider'></div>	
									{{!-- <a class='dropdown-item' href='/me/stored/accounts'>Quản Lý Tài Khoản</a> <div class='dropdown-divider'></div> --}}
									{{!-- <a class='dropdown-item' href='/addschedule/create'>Đăng Ký Lịch</a> <div class='dropdown-divider'></div> --}}
									{{!-- <a class='dropdown-item' href='/medicalRecord/create'>Tạo Hồ sơ bệnh án</a> <div class='dropdown-divider'></div> --}}
									<a class='dropdown-item' href='/me/stored/medical-record'>Quản Lý Hồ Sơ Bệnh Án</a> <div class='dropdown-divider'></div>
									<a class='dropdown-item' href='/logout'>Logout</a>
									{{else}}
												{{#if_eq lcAuthUser.Permission '1'}}
													<a class='dropdown-item' href='/profile/{{lcAuthUser.Id}}'>Trang Cá Nhân</a> <div class='dropdown-divider'></div>
													<a class='dropdown-item' href='/addschedule/create'>Đăng Ký Lịch</a> <div class='dropdown-divider'></div>
													<a class='dropdown-item' href='/addschedule/viewschedule'>Xem Lịch Làm Việc</a> <div class='dropdown-divider'></div>
													<a class='dropdown-item' href='/me/appointment'>Quản Lý Cuộc Hẹn</a> <div class='dropdown-divider'></div>	
													<a class='dropdown-item' href='/me/stored/medical-record'>Quản Lý Hồ Sơ Bệnh Án</a> <div class='dropdown-divider'></div>
													<a class='dropdown-item' href='/logout'>Logout</a>
												{{else}}
														{{#if_eq lcAuthUser.Permission '2'}}
															{{!-- <a class='dropdown-item' href='/accounts/create'>Thêm Bác Sĩ</a> <div class='dropdown-divider'></div> --}}
															<a class='dropdown-item' href='/me/stored/accounts'>Quản Lý Tài Khoản</a> <div class='dropdown-divider'></div>
															<a class='dropdown-item' href='/me/stored/medical-record'>Quản Lý Hồ Sơ Bệnh Án</a> <div class='dropdown-divider'></div>
															<a class='dropdown-item' href='/logout'>Logout</a>
														{{/if_eq}}
												{{/if_eq}}
									{{/if_eq}}
								</div>
								
								
								
					{{else}}
				<a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
				<img src='https://image.lag.vn/upload/news/21/08/16/236599595_1425452954506376_3110056547255537769_n_WOLP.jpg' alt='' class='user-avatar' />
					Nobody 
				</a>
				<div class='dropdown-menu' aria-labelledby='navbarDropdown'>
					<a class='dropdown-item' href='/me/appointment'>Đặt lịch hẹn</a>
					<div class='dropdown-divider'></div>
					<a class='dropdown-item' href='/google'>Login</a>
				</div>
				{{/if}}
			</li>
			</ul>
		  </div>
		</div>
	</nav>
</header>